{% extends "header.html" %}


{% block content %}


<div class="main">
    <div class="container-fluid" >
            <div class="row">
                <h2></br></br></h2>
            </div>
            <div class="row" style="width:100%;text-align:center;margin-left:-65px">
                <h2 style="color:red"><strong>¡ERROR!</strong></h2>
                <div class="col-13" style="align:center">
                    <h5></br></h5>
                    <h4 style="color: grey;margin-left:25px"><strong>{{error}}</strong></h4>
                </div>
            </div>
    </div>
</div>



{% endblock %}
