{% extends "header.html" %}


{% block content %}

<div class="main">
    <div class="container-fluid" >
            <div class="row" style = "height:100%">
                <div class="col-3" style="margin-left:20px">
                    <div class = "row" id="gridrow">
                        <div class = "col-md-6">
                             <h5>Lista Usuarios</h5>
                            <div class = "dataframe">
                                <form action="{% url 'search_user' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Mostrar</button>
                                </form>
                            </div>
                        </div>
                        <div class = "col-md-6">
                            <h5>Publicar Noticia</h5>
                               <a class="btn btn-primary" href="#popup1">Crear Noticia</a>
                                   <div id="popup1" class="overlay">
                                       <div class="popup">
                                           <h2>Crea tu noticia</h2>
                                           <a class="close" href="#">&times;</a>
                                           <div class="content">
                                               <p>Introduce el título,el contenido y la URL de tu noticia</p>
                                               <form action="{% url 'create' %}" method="post">
                                                   {% csrf_token %}
                                                   <div class>
                                                       <div class="placeholder">
                                                           <input type="text" name="title" id="title" size="30" placeholder="Título..." required>
                                                       </div>

                                                       <div class = "placeholder" style="margin-top:2px">
                                                           <textarea class="input" name="contenido" id="contenido" rows="5" placeholder="Contenido..." required></textarea>
                                                       </div>
                                                       <div class = "placeholder" style="margin-top:-6px">
                                                           <input type="text" name="url" id="url" size="50" placeholder="URL..." required>

                                                       </div>
                                                       <div class = "placeholder" style="margin-top:2px">
                                                           <input class="field" name="private_key" id="private_key" type="password" placeholder="Private key..." required></input>
                                                       </div>
                                                   </div>
                                                   <button type="submit" class="btn btn-primary" style="margin-top:5px">Publicar</button>
                                               </form>
                                           </div>
                                       </div>
                                   </div>
                        </div>
                    </div>
                    <div class = "row" id="gridrow">
                        <div class = "col-md-6" style="margin-top:50px">
                            <h5></h5>

                            <a class="btn btn-primary" href="#popup2">Leer Noticia</a>

                            <div id="popup2" class="overlay">
                                <div class="popup">
                                    <h2>Leer Noticia</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <p>Elige la noticia que quieres leer</p>
                                        <form action="{% url 'read' %}" method="post">
                                            {% csrf_token %}
                                            <div class = "placeholder">
                                                <input type="text" name="id" id="id" size="15" placeholder="ID de la noticia..." required>
                                            </div>
                                            <button type="submit" class="btn btn-primary" style="margin-top:4px">Obtener</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class ="row" style="height:50%">
                        <div class = "col-13" style="margin-top:0px">
                            <div class= "row" id ="playlist-row" style="margin-top:-60px;">
                                <h4>Noticias Publicadas</h4>
                            </div>
                            <div class= "row" style="height:50%">

                            <div id = "playlists-dataframe" style="height:90%;width:100%" >
                                {{ lista|safe }}
                            </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
</div>

{% endblock %}
