{% extends "header.html" %}


{% block content %}

{{mensaje}}

<div class="main">
    <div class="container-fluid">
        <div class ="row">
            <div class = "col-13" style="margin-top:0px">
                <div class= "row" id ="playlist-row" style="margin-top:0px;">
                    <h4>Usuarios</h4>
                </div>
                <div id = "playlists-dataframe" style="height:100%" >
                    {{ lista|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
